Repository welovecoding/swaxios: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

.lintstagedrc.json:

{
  "*.{json,md,scss,yml}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --config tslint.json --project tsconfig.json --fix", "git add"]
}

chore: Update wire-ets.json sample (#78)
  src/test/fixtures/wire-ets.json
Due: prettier --write

refactor: Port Git hooks configuration to JSON (#75)
  .huskyrc.js
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: prettier --write

Add test case for definitions
  src/Swaxios.test.ts
  src/test/snapshots/8-definitions-CreateAccountRequest.ts.fixture
  src/test/snapshots/8-definitions-CreateAccountResponse.ts.fixture
  src/test/snapshots/8-definitions.json
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

feat: Interfaces generation (#71)
  src/Swaxios.test.ts
  src/Swaxios.ts
  src/generators/InterfaceGenerator.ts
  src/generators/MethodGenerator.ts
  src/generators/ResourceGenerator.ts
  src/templates/Interface.hbs
  src/templates/Resource.hbs
  src/test/snapshots/1-query-param-description.ts.fixture
  src/test/snapshots/8-definitions-CreateAccountRequest.ts.fixture
  src/test/snapshots/8-definitions-CreateAccountResponse.ts.fixture
  src/test/snapshots/8-definitions.json
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

docs: updated CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

0.1.0
  package.json
Due: prettier --write

chore: Don't publish tests, create declarations
  package.json
  tsconfig.json
Due: prettier --write

stricter tsconfig
  tsconfig.json
Due: prettier --write

add lib
  tsconfig.json
Due: prettier --write

ignore dist
  src/generators/MethodGenerator.ts
  tsconfig.json
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

noUnusedParameters
  tsconfig.json
Due: prettier --write

chore: Don't publish tests, create declarations, stricter tsconfig (#82)
  package.json
  src/generators/MethodGenerator.ts
  tsconfig.json
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

0.1.1
  package.json
Due: prettier --write

refactor: Use parse-path to detect file paths
  package.json
  src/Swaxios.ts
  yarn.lock
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

fix: Ignore TS test files
  tsconfig.json
Due: prettier --write

fix: Ignore TS test files (#97)
  tsconfig.json
Due: prettier --write

chore: Use npm registry with yarn
  .yarnrc
Due: none

Update .yarnrc
  .yarnrc
Due: none

chore: Use npm registry with yarn (#98)
  .npmrc
  .yarnrc
Due: none

chore: Resolve dependencies from npmjs [ci skip]
  yarn.lock
Due: none

0.1.2
  package.json
Due: prettier --write

fix: Normalize special characters in URL or keys
  .lintstagedrc.json
  src/Swaxios.test.ts
  src/generators/InterfaceGenerator.ts
  src/test/snapshots/9-special-characters.json
  src/test/snapshots/9-special-characters.ts.fixture
  src/util/StringUtil.ts
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

fix: Normalize special characters in URL or keys (#155)
  .lintstagedrc.json
  src/Swaxios.test.ts
  src/generators/InterfaceGenerator.ts
  src/test/snapshots/9-special-characters.json
  src/test/snapshots/9-special-characters.ts.fixture
  src/util/StringUtil.ts
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

chore: Transfer repository to "welovecoding" organization
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

chore: Transfer repository to "welovecoding" organization (#158)
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

0.1.3
  package.json
Due: prettier --write

chore: yarn upgrade --latest
  package.json
  yarn.lock
Due: prettier --write

fix: Register Handlebars comparison helpers
  src/Swaxios.ts
  src/generators/TemplateGenerator.ts
Due: tslint --config tslint.json --project tsconfig.json --fix

fix: Register Handlebars comparison helpers (#164)
  src/Swaxios.ts
  src/generators/TemplateGenerator.ts
Due: tslint --config tslint.json --project tsconfig.json --fix

0.1.4
  package.json
Due: prettier --write

chore: Remove code owners
  .github/CODEOWNERS
Due: none

linting
  src/util/StringUtil.ts
Due: tslint --config tslint.json --project tsconfig.json --fix

chore: Update SwaggerParser
  package.json
  src/validator/SwaggerValidator.ts
  yarn.lock
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix

chore: Remove "git add" from lint-staged scripts
  .lintstagedrc.json
Due: prettier --write

chore: Update SwaggerParser (#213)
  package.json
  src/validator/SwaggerValidator.ts
  yarn.lock
Due: prettier --write, tslint --config tslint.json --project tsconfig.json --fix
